{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Home" %}</title>
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/base.css" %}">
</head>
<body dir="{% if LANGUAGE_CODE == "fa" %}rtl{% else %}ltr{% endif %}" style="{% if LANGUAGE_CODE == "fa" %}text-right{% else %}ltr{% endif %}">
<div class="container text-center align-middle">
    <form action="/i18n/setlang/" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}"/>
        <!-- on change added due to deleting submit button of form. -->
        <select name="language" onchange="this.form.submit()" style="display: none">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                {% if language.code != LANGUAGE_CODE %}
                    <option style="padding: 0 8px" value="{{ language.code }}" selected="selected"> {{ language.name_local }}
                    </option>
        </select>
{#        <input class="btn btn-sm btn-outline-dark " name="submit" type="submit" value="{{ language.code }}" />#}
          <button style="border: none" type="submit" name="submit" class="badge badge-pill badge-dark">
          {{ language.name_local }}
          </button>
                {% endif %}
            {% endfor %}
    </form>
</div>
<hr>
{% block body %}{% endblock %}


<script src="{% static "/js/jquery-3.2.1.slim.min.js" %}"></script>
<script src="{% static "/js/popper.min.js" %}"></script>
<script src="{% static "/js/bootstrap.min.js" %}"></script>
</body>
</html>