{% extends 'base.html' %}
{% load i18n %}
{% block body %}
    <div class="container">
    <div class="card-columns">
        {% for book in books %}
            <div class="card text-center {% if forloop.counter|divisibleby:4 %}bg-dark text-white {% elif forloop.counter|divisibleby:2 %} bg-info text-white {% endif %} ">
                <div class="card-body">
                    <h3 class="card-title">{% if LANGUAGE_CODE == "en" %}{{ book.name_en }}{% else %}{{ book.name }}{% endif %}</h3>
                    <p class="card-text">{% if LANGUAGE_CODE == "en" %}{{ book.des_en }}{% else %}{{ book.des }}{% endif %}</p>
                    <p class="card-text">
                        <small>{% trans "Book author" %} : {% if LANGUAGE_CODE == "en" %}{{ book.author_en }}{% else %}{{ book.author }}{% endif %}</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div></div>
{% endblock %}